{% extends 'base_site.html' %}
{% block conteudo %}
<h1 class="page-header">Usuários</h1>
<div class="panel panel-default">
    <div class="panel-body">
    	<a href="{% url 'usuario_adicionar' %}" class="btn btn-success">Adicionar</a>
    </div>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Login</th>
			<th>Tipo</th>
			<th>Nome</th>
			<th>Idade</th>
			<th>Sexo</th>
			<th>Ações</th>
		</tr>
	</thead>
	<tbody>
		{% for usuario in usuarios %}
		<tr>
			<td>{{ usuario.login }}</td>
			<td>{{ usuario.get_tipo_display }}</td>
			<td>{{ usuario.nome|default:'-' }}</td>
			<td>{{ usuario.idade|default:'-' }}</td>
			<td>{{ usuario.get_sexo_display|default:'-' }}</td>
			<td>
				<a href="{% url 'usuario_editar' usuario.pk %}"  class="btn btn-sm btn-primary">Editar</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
