{% extends 'base.html' %}
{% block body %}
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Personal Gym</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>{{ request.user }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        {% if request.user.tipo == 1 %}
                        <li><a href="{% url 'aluno_detalhar' request.user.pk %}"><i class="fa fa-home fa-fw"></i> Aluno</a></li>
                        {% endif %}
                        {% if request.user.tipo > 1 %}
                        <li><a href="{% url 'index' %}"><i class="fa fa-home fa-fw"></i> Home</a></li>
                        <li><a href="{% url 'aluno_listar' %}"><i class="fa fa-user fa-fw"></i> Alunos</a></li>
                        <li><a href"#"><i class="fa fa-cog fa-fw"></i><b> Configurações </b></a></li>
                        <li><a href="{% url 'exercicio_listar' %}"><i class="fa fa-child fa-fw"></i> Exercícios</a></li>
                        <li><a href="{% url 'anamnese_listar' %}"><i class="fa fa-edit fa-fw"></i> Perguntas Anamnese</a></li>
                        {% endif %}
                        {% if request.user.tipo == 3 %}
                        <li><a href="{% url 'usuario_listar' %}"><i class="fa fa-users fa-fw"></i> Usuários</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                {% block conteudo %}{% endblock %}
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
{% endblock %}
