{%extends 'base_site.html' %}
{% load static %}
{% block conteudo %}
<h1 class="page-header">Detalhes do Aluno</h1>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Dados Pessoais</div>
		    <div class="panel-body">
		    	<table class="table">
		    		<tr>
		    			<th>Nome</th>
		    			<th>Idade</th>
		    			<th>Sexo</th>
		    			<th>Usuário</th>
		    		</tr>
		    		<tr>
		    			<td>{{ pessoa.nome }}</td>
		    			<td>{{ pessoa.idade }}</td>
		    			<td>{{ pessoa.get_sexo_display }}</td>
		    			<td>{{ pessoa.login }}</td>
		    		</tr>
		    	</table>
		    </div>
		    {% if request.user.tipo > 1 %}
		    <div class="panel-footer">
		    	<a href="{% url 'aluno_editar' pessoa.pk %}" class="btn btn-primary">Editar</a>
		    </div>
		    {% endif %}
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Treinos</div>
		    <div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Data de Início</th>
							<th>Data de Fim</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for treino in treinos %}
						<tr>
							<td>{{ treino.nome }}</td>
							<td>{{ treino.data_inicio }}</td>
							<td>{{ treino.data_fim }}</td>
							<td></td>
							<td>
								<a href="{% url 'serie_listar' treino.pk %}" class="btn btn-sm btn-primary">Detalhes</a>
								{% if request.user.tipo > 1 %}
								<a href="{% url 'treino_editar' treino.pk %}" class="btn btn-sm btn-default">Editar</a>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
		    </div>
		    {% if request.user.tipo > 1 %}
		    <div class="panel-footer">
				<a href="{% url 'treino_adicionar' pessoa.pk %}" class="btn btn-success">Adicionar</a>
	    	</div>
	    	{% endif %}
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Avaliações Físicas</div>
		    <div class="panel-body">
		    	<div class="row">
		    		<div class="col-md-6 col-sm-12">
		    			{{ gordura_chart.render_html }}
		    		</div>
		    		<div class="col-md-6 col-sm-12">
						{{ perimetria_chart.render_html }}
		    		</div>
		    	</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Data</th>
							<th>Data Refazer</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						{% for avaliacao in avaliacoes %}
						<tr>
							<td>{{ avaliacao.data_realizada }}</td>
							<td>{{ avaliacao.data_refazer }}</td>
							<td>
								<a href="{% url 'avaliacao_detalhar' avaliacao.pk %}" class="btn btn-sm btn-primary">Detalhes</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
		    </div>
		    {% if request.user.tipo > 1 %}
		    <div class="panel-footer">
				<a href="{% url 'avaliacao_adicionar' pessoa.pk %}" class="btn btn-success">Adicionar</a>
	    	</div>
	    	{% endif %}
		</div>
	</div>
</div>
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'vendor/highcharts/css/highcharts.css' %}" type="text/css" />
<style type="text/css">
.highcharts-container {
	height: auto;
}
</style>
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{% static 'vendor/highcharts/js/highcharts.js' %}"></script>
{{ gordura_chart.render_js }}
{{ perimetria_chart.render_js }}
{% endblock %}